<style>
  .complete {
    text-decoration: line-through;
  }
</style>

<h2><%= @project.name %></h2>
<ul>
  <% @project.tasks.each do |task| %>
  <li>
    <!-- <li textSelectable='false'> -->
      <span class="task"><%= task.title %></span> -  <%= link_to "Edit Task", "/tasks/#{ task.id }/edit" %> | <%= link_to "Delete Task", "/tasks/#{ task.id }", method: :delete, data: { confirm: "Are You Sure?" } %> | <%= link_to "Mark Task Complete" %>
        

          <% if task.task_complete? %>
          <h3><strike><%= task.task_complete %></strike></h3>
     
       <p>
         <%= "Due #{task.deadline.strftime("%b %e, %Y")}" if task.deadline%>
      </p>
   </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "Back To Home Page", "/", class: "btn btn-success" %>

<%= link_to "Edit Project", "/projects/#{ @project.id }/edit", class: "btn btn-success" %>

<%= link_to "Add Task", "/projects/#{ @project.id }/tasks/new",  class: "btn btn-success" %>

<%= link_to "Delete Project", "/projects/#{ @project.id }", method: :delete, data: { confirm: "Are You Sure?" }, class: "btn btn-success" %>


<script>
    var tasks = $('span.task');
    for (let i = 0; i < tasks.length; i++) {
      tasks[i].addEventListener('click', function() {
        this.classList.toggle('complete')
        markComplete(this);
      })
    }

    function markComplete(item) {
      if (item.classList.contains('complete')) {
        console.log('yay') // add ajax call to mark complete/true
      } else {
        console.log('nope') // add ajax call to mark incomplete/false
      }
    }
</script>